<!DOCTYPE html>
<html lang="{{ site.locale }}" class="h-100">

<head>
    {% include meta.html %}
    {% include title.html %}
    {% include globalstylesheets.html %}
    <link rel="stylesheet" href="{{ " /assets/css/cover.css" | relative_url }}">
</head>

<!-- <body class="d-flex h-100 text-center text-white bg-dark"> -->

<body class="h-100">
    {% include navbar.html %}
    <div class="d-flex h-100 text-center text-white bg-dark bg-image bebas-font">
        {{ content }}
    </div>
    {% include globalscripts.html %}
</body>

</html>