<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!-- Roboto for hero font -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{{ "/assets/vendor/bootstrap.min.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body>
    {% include navbar.html %}
    {{ content }}
    <script src="{{ "/assets/vendor/jquery-3.6.0.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/vendor/bootstrap.bundle.min.js" | relative_url }}"></script>
  </body>
</html>
