.hero {
    height: 100vh;
    min-height: 500px;
    background: linear-gradient( rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0) ), url('/assets/images/carousel/four.png');
    // background-image: url('/assets/images/hero.png');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    color: #fff;
    font-family: 'BebasNeueRegular', sans-serif;
    -moz-transition: opacity 5s ease-in-out;
    -webkit-transition: opacity 5s ease-in-out;
    -o-transition: opacity 5s ease-in-out;
    transition: opacity 5s ease-in-out;

    .hero-heading {
      font-size: 120px;
    }

    .hero-subheading {
      font-size: 60px;
    }
  }